@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
    background-color: black;
}

.calculator-body{
    background-color: #004F61;
    width: 300px;
    height: 450px;
    margin: 50px auto;
    border-radius: 16px;
    padding: 20px 20px;
}

.calculator-title{
    font-family: 'Martian Mono', monospace;
    color: white;
    font-size: 18px;
}

.calculator-screen{
    background-color: #C7FCFF;
    font-family: 'VT323', monospace;
    width: 248px;
    height: 57px;
    border: 6px solid #004655;
    padding: 10px 20px;
    margin: 25px 0px 40px 0px;
    text-align: end;
}

.screen__top-part{
    font-family: inherit;
    width: 248px;
    height: 22px;
    border-bottom: solid #4F4F4F 2px;
    font-size: 24px;
    color: #858585;
}

.screen__bottom-part{
    font-family: inherit;
    width: 248px;
    height: 40px;
    font-size: 40px;
}

.calculator__delete-row{
    width: 200px;
    height: 35px;
    color: white;
    margin: 0px 0px 10px 0px;
}

.delete-button{
    width: 60px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #D8635D;
    background: #FC756E;
    color: inherit;
    font-family: Arial;
    font-size: 22px;
    font-weight: 400;
    margin: 0px 4px  0px 0px;
}

.delete-button:hover{
    transition: all 0.2s ease;
    background-color:#D8635D;
    color: rgb(221, 220, 220);
}

.calculator-operations{
    display: flex;
}

.calculator__numbers-panel{
    width: 200px;
    height: 185px;
    text-align: center;
}

.number-button{
    width: 60px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #00839F;
    background: #00C5D3;
    font-family: Arial;
    font-size: 24px;
    font-weight: 700;
    margin: 10px 4px  0px 0px;
    color: white;
}

.number-button:hover{
    transition: all 0.2s ease;
    background-color: #01a8b4;
    color: rgb(221, 220, 220);
}

.calculator-operatioms__right-panel{
    width:100px;
}

.operation-button{
    width: 60px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #003844;
    background: #00404F;
    margin: 0px 0px 13px 20px;
    color: white;
    font-family: Arial;
    font-size: 22px;
    font-weight: 700;
}

.operation-button:hover{
    transition: all 0.2s ease;
    background-color: #002831;
    color: rgb(221, 220, 220);
}

.equals-button{
    border: 2px solid #889887;
    background: #A8BEA7;
}
